[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
werkzeug = "*"
jinja2 = "*"
python-dotenv = "*"
psycopg2-binary = "*"

[dev-packages]

[scripts]
start = "python3 src/main.py"
dbshell = "psql $DATABASE_URL"

[requires]
python_version = "3.8"
