<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header>
      <nav class="nav">
        <div>
          <a class="home-link" href="/">
            <img src="/free-icon-web-house-15730.svg" alt="home button" />
            Home &nbsp;
          </a>
          <a class="cart-link" href="/cart">
            <img src="/cart.svg" alt="cart button" />
            Cart &nbsp;
          </a>
        </div>

        <div class="nav-auth">
          <a class="link-btn signin-link" href="/users/login"> Sign in </a>
          <a class="link-btn signup-link" href="/users/create"> Sign up </a>
        </div>
      </nav>
    </header>
    {% block content %} {% endblock %}
  </body>
</html>
