{% extends 'base.html' %}

<!-- prettier-ignore -->
{% block title %} {{ shop.name }} {{ category.name }} {% endblock %}

{% block content %}
<div class="products-container">
  <h2>Products</h2>
  <ul>
    {% for product in products %}
    <li>
      <a href="/shops/{{ shop.slug }}/products/{{ product.id }}"
        >{{ product.name }}</a
      >
      -- ({{ product.price }})
      <button>
        <a href="/shops/{{ shop.slug }}/products/{{ product.id }}/update"
          >Update</a
        >
      </button>
      <button>
        <a href="/shops/{{ shop.slug }}/products/{{ product.id }}/delete"
          >Delete &times;</a
        >
      </button>
      <p>{{ product.description }}</p>
      {% if product.image %}
      <img src="/media/{{ product.image }}" width="25%" height="25%" />
      {% endif %}
      <hr />
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
