{% extends 'base.html' %}

<!-- prettier-ignore -->
{% block title %} {{ product.name }} {% endblock %}

{% block content %}
<div>
  {% if product.image %}
  <img src="/media/{{ product.image }}" width="25%" height="25%" />
  {% endif %}
  <p>Name: {{ product.name }}.</p>
  <p>Price: {{ product.price }}$.</p>
  {% if product.description %}
  <p>Description: {{ product.description }}.</p>
  {% else %}
  <p>Description: none.</p>
  {% endif %}
  <p>Shop: {{ product.shop.name }}</p>
  <h3>Categories:</h3>
  {% with categories = product.get_categories() %} {% if categories %}
  <ul>
    {% for category in product.get_categories() %}
    <li>{{ category.name }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>None</p>
  {% endif %} {% endwith %}
</div>
{% endblock %}
