{% extends 'base.html' %}

<!-- prettier-ignore-->
{% block title %} Welcome {% endblock %}

{% block content %}
<h1>Registration</h1>

<form action="/users/create" method="POST" enctype="multipart/form-data">
  <fieldset>
    <legend>Create user</legend>
    <div>
      <label for="username">Username:</label>
      <input
        id="username"
        name="username"
        type="text"
        maxlength="36"
        required
        autocomplete="off"
      />
    </div>
    <div>
      <label for="email">Email:</label>
      <input
        id="email"
        name="email"
        type="text"
        maxlength="255"
        required
        autocomplete="off"
      />
    </div>
    <div>
      <label for="password">Password:</label>
      <input
        id="password"
        name="password"
        type="text"
        maxlength="255"
        required
        autocomplete="off"
      />
    </div>
    <div>
      <button>Create</button>
    </div>
  </fieldset>
</form>
{% endblock %}
