{% extends 'base.html' %}

<!-- prettier-ignore -->
{% block title %} {{ shop.name }} {% endblock %}

{% block content %}
{% with categories = shop.get_categories() %}
<div class="search">
  <select class="search-select" name="category" id="category">
    <option>All categories</option>
    {% for category in categories %}
    <option value="{{ category.id }}">{{ category.name }}</option>
    {% endfor %}
  </select>
  <input class="search-input" name="q" type="search" />
  <button class="search-btn">
    <!-- Artyom will get hacked for this... -->
    <img src="https://img.icons8.com/pastel-glyph/2x/search--v3.png" />
  </button>
</div>

<h1>Welcome to {{ shop.name }}!</h1>
<h3>Categories:</h3>
{% if categories %}
<ul>
  {% for category in shop.get_categories() %}
  <li>
    <a href="/shops/{{ shop.slug }}/{{ category.name }}">{{ category.name }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>None</p>
{% endif %}

<div>
  <button>
    <a href="/shops/{{ shop.slug }}/products/create">Create a product</a>
  </button>
</div>

<div>
  <h2>Reviews</h2>
  <ul>
    {% for review in shop.reviews %}
    <li>
      <p>{{ review.username }}</p>
      <p>{{ review.text }}</p>
      <hr />
    </li>
    {% endfor %}
  </ul>
</div>

<form action="/shops/{{ shop.slug }}/reviews/create" method="POST">
  <fieldset>
    <legend>Review</legend>
    <div>
      <label for="username">Username:</label>
      <input
        id="username"
        name="username"
        type="text"
        maxlength="64"
        required
        autocomplete="off"
      />
    </div>
    <div>
      <label for="text">Text:</label>
      <textarea id="text" name="text" cols="30" rows="10"></textarea>
    </div>
    <div>
      <button>Post</button>
    </div>
  </fieldset>
</form>
{% endwith %} {% endblock %}
